"*":
  "atom-beautify":
    _analyticsUserId: "ef6ee690-6b5e-4ddd-93e6-73b71431ba2f"
    cfml_brace_style: "expand"
    css_align_assignments: true
    css_convert_quotes: "double"
    css_indent_char: "\t"
    css_indent_size: 1
    css_preserve_newlines: true
    html_indent_char: "\t"
    html_indent_size: 1
    html_max_preserve_newlines: 3
    js_brace_style: "expand"
    js_indent_char: "\t"
    js_indent_size: 1
    js_indent_with_tabs: true
    js_keep_array_indentation: true
    js_keep_function_indentation: true
    js_max_preserve_newlines: 3
    js_space_before_conditional: false
  "atom-minify": {}
  "auto-detect-indentation":
    indentationTypes: [
      {
        name: "TAB"
        softTabs: false
        tabLength: 4
      }
      {
        name: "4 spaces"
        softTabs: true
        tabLength: 4
      }
      {
        name: "2 spaces"
        softTabs: true
        tabLength: 2
      }
    ]
  "autocomplete-modules": {}
  "autocomplete-plus":
    autoActivationDelay: 20
    backspaceTriggersAutocomplete: true
    minimumWordLength: 2
  "color-picker":
    preferredFormat: "HEX"
    triggerKey: "K"
  "color-tabs":
    backgroundStyle: "solid"
    borderStyle: "bottom"
    markerStyle: "corner"
  core:
    disabledPackages: [
      "browser-plus"
      "gulp-control"
      "atom-bootstrap3"
    ]
    packagesWithKeymapsDisabled: [
      "emacs-plus"
      "atomic-emacs"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "disable-keybindings":
    communityPackages: [
      "emmet"
      "git-plus"
    ]
    exceptCommunityPackages: [
      "atomic-emacs"
    ]
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    fontFamily: "Migu\\ 1M"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "f11b05b5-341b-c72c-ab3d-7901738a8296"
  "file-icons": {}
  "git-plus": {}
  "gulp-control": {}
  "highlight-selected": {}
  linter:
    errorPanelHeight: 22
  "linter-haml":
    copyRubocopYml: false
  "linter-jshint": {}
  "linter-php":
    executablePath: "C:/bin/php/php.exe"
  "linter-scss-lint": {}
  "markdown-preview": {}
  "merge-conflicts": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
