"*":
  "atom-beautify":
    _analyticsUserId: "ae9670c0-0f0f-4c13-aab6-c075d8863054"
    cfml_brace_style: "expand"
    css_align_assignments: true
    css_convert_quotes: "double"
    css_preserve_newlines: true
    general:
      _analyticsUserId: "27e91656-477a-4190-858b-03c699a738b4"
    html_max_preserve_newlines: 3
    js_brace_style: "expand"
    js_indent_with_tabs: true
    js_keep_array_indentation: true
    js_keep_function_indentation: true
    js_max_preserve_newlines: 3
    js_space_before_conditional: false
  "atom-minify": {}
  "atom-ternjs":
    displayAboveSnippets: true
    excludeLowerPriorityProviders: true
    useSnippets: true
    useSnippetsAndFunction: true
  "auto-detect-indentation":
    indentationTypes: [
      {
        name: "TAB"
        softTabs: false
        tabLength: 4
      }
      {
        name: "4 spaces"
        softTabs: true
        tabLength: 4
      }
      {
        name: "2 spaces"
        softTabs: true
        tabLength: 2
      }
    ]
  "autocomplete-plus":
    autoActivationDelay: 10
    backspaceTriggersAutocomplete: true
    minimumWordLength: 1
  "color-picker":
    preferredFormat: "HEX"
    triggerKey: "K"
  "color-tabs":
    backgroundStyle: "none"
    borderStyle: "bottom"
    markerStyle: "corner"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "atom-bootstrap3"
      "autocomplete-html"
      "autocomplete-paths"
      "minimap"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
      "atomic-emacs"
      "emacs-plus"
    ]
  "disable-keybindings":
    communityPackages: [
      "emmet"
      "git-plus"
    ]
    exceptCommunityPackages: [
      "atomic-emacs"
    ]
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "a3543d3c-e4b7-617a-7d58-06a101aa34df"
  "git-plus": {}
  "gulp-control": {}
  linter:
    showErrorPanel: false
  "linter-php": {}
  "linter-scss-lint":
    executablePath: "/Users/radio7954/.rbenv/shims/scss-lint"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "tab-switcher": {}
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 200
    tabLength: 1
