# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'atom-workspace':
	'alt-tab'      : 'tab-switcher:next'
	'alt-shift-tab': 'tab-switcher:previous'
	'ctrl-z'       : 'core:undo'
	'ctrl-shift-z' : 'core:redo'
	'f12'          : 'window:toggle-dev-tools'
	# atomic-emacs
	'ctrl-f'       : 'find-and-replace:show'
	'ctrl-s'       : 'core:save'
	'ctrl-x ctrl-s': 'core:save'
	'ctrl-x h'     : 'core:select-all'
	'ctrl-x x'     : 'core:cut'
	'ctrl-x ctrl-x': 'core:cut'
	'ctrl-x ctrl-c': 'core:close'
	'ctrl-v'       : 'core:paste'
	'ctrl-g'       : 'core:cancel'
	'ctrl-k'       : 'atomic-emacs:kill-line'
	'ctrl-w'       : 'atomic-emacs:kill-region'
	'ctrl-y'       : 'atomic-emacs:yank'
	# git-plus
	'ctrl-x g l'       : 'git-plus:log'
	'ctrl-x g c'       : 'git-plus:add-all-commit'
	'ctrl-x g p'       : 'git-plus:add-all-commit-and-push'
	'ctrl-x g s'       : 'git-plus:status'
	'ctrl-x g o'       : 'git-plus:checkout'
	'ctrl-x g d'       : 'git-plus:diff'
	'ctrl-alt-shift-S' : 'project-manager:save-project'
	'ctrl-alt-shift-L' : 'project-manager:list-projects'

'atom-workspace atom-text-editor:not([mini])':
	'ctrl-down'    : 'atomic-emacs:scroll-up'
	'ctrl-up'      : 'atomic-emacs:scroll-down'
	'ctrl-shift-i' : 'auto-detect-indentation:show-indentation-selector'

'atom-workspace atom-text-editor':
	'ctrl-a'    : 'atomic-emacs:back-to-indentation'
	'alt-;'     : 'editor:toggle-line-comments'
	'ctrl-;'    : 'editor:toggle-line-comments'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
	'ctrl-e'    : 'editor:move-to-end-of-screen-line'

'body':
	'ctrl-x 1'  : 'atomic-emacs:close-other-panes'
